:root {
  --color-background: #010101;
  --color-header-font-light: #3d3935;
  --color-white: #e6e6e6;
  /* --color-white: #fefefe; */
  --color-red: #ed2224;
  --color-yellow: #f9f82c;
  --color-grey: #777764;
  --color-shadow: #777764be;
  --color-footer-font: #b7b7b7;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: var(--color-background);
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
}
/*----------------HEADER----------------*/

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.navbar {
  background-color: var(--color-yellow);
}

/* This is used to seperate the logo and the other items. */
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-to-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Applies to the menu items. */
.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  color: var(--color-header-font-light);
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 10px 10px;
  transition: 0.3s;
}

/* adds space around the final item, i.e., the button. */
.navbar ul li:last-child a {
  margin-left: 10px;
}

/* adds space betweent the icon and the icon text. */
.navbar ul li i {
  margin-right: 10px;
}

/* --------------------------------ALL - OPTIONS----------------------------*/
.app-name {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  border-left: 3px solid var(--color-yellow);
  padding-left: 25px;
}
.container {
  padding: 0px 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.options-page-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.options-reset {
  display: flex;
  flex-direction: column;
}

.container-disclamer {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container-description {
  display: flex;
  align-items: baseline;
}
.btn-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-options {
  display: flex;
  flex: 1;
  width: 400px;
}

.btn.operations {
  width: 120px;
}

.btn,
.btn-reset {
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid var(--color-grey);
  background-color: var(--color-background);
  color: var(--color-white);
  border-radius: 5px;
  margin-right: 20px;
}

.btn:last-child {
  margin-right: 0px;
}

.btn:hover {
  border: 1px solid var(--color-yellow);
  color: var(--color-yellow);
}

.btn-reset:hover {
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

/* --------------------------------OPTIONS----------------------------*/
.input-area-fixed {
  width: 200px;
  text-align: left;
}

.label-area-fixed {
  width: 120px;
}

.btn.active {
  border: 1px solid var(--color-yellow);
  color: var(--color-yellow);
}

.btn.disabled {
  color: var(--color-grey);
  position: relative; /* Needed for tooltip positioning */
}

.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-white);
  white-space: nowrap;
  z-index: 100;
}

.btn.disabled:hover .tooltip {
  display: block;
}

.select-material {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 80px 0px;
}

/* .option-material {
  display: flex;
} */
.material-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 10px);
  height: 280px;
  cursor: pointer;
  border: none;
  background: none;
  box-sizing: border-box;
  padding-top: calc((100% / 16) - 20px);
  padding-bottom: calc((100% / 16) - 20px);
}

.material-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.material-image:hover {
  cursor: pointer;
  background: var(--color-background);
  transition: 0.3s ease-in-out;
}

.icon-text {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-size: 28px;
  color: var(--color-white);
  cursor: pointer;
  text-align: center;
  z-index: 3;
}

.icon-text.active-text {
  color: var(--color-yellow);
  z-index: 99;
}

.value-row {
  display: flex;
  align-items: center;
}

.menu-text-large {
  font-size: 16px;
  color: var(--color-white);
  font-weight: 300;
  margin-right: 10px;
}

.menu-text-medium {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.menu-text-small {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.header-link {
  color: var(--color-yellow);
  cursor: pointer;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}

.error-message {
  margin-top: 10px;
  font-size: 13px;
  color: var(--color-red);
}
.conv {
  margin-left: 5px;
  width: 50px;
}

.description-text {
  font-size: 18px;
  color: var(--color-yellow);
  font-weight: 300;
}

.value-name {
  width: 160px;
}

.value-value {
  width: 100px;
  margin-left: 20px;
}

input {
  width: 80px;
  font-size: 18px;
  padding: 5px;
  background-color: var(--color-background);
  color: var(--color-white);
  text-align: right;
  border: none;
  border-bottom: 2px solid var(--color-yellow);
}

/* For Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-hide {
  border-bottom: none;
}

.input-description {
  width: 180px;
}

.value-row-GWP {
  width: 70px;
  margin-left: 10px;
}

.value-row-description {
  display: flex;
  width: 800px;
  justify-content: flex-end;
  padding: 0px;
  margin-bottom: -25px;
}
.description-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
}

/* MODALS */

.modal {
  display: inline-block;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 200px;
  background-color: var(--color-background);
  padding: 20px;
  border: 1px solid var(--color-yellow);
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--color-shadow);
  font-size: 14px;
  color: var(--color-yellow);
  font-weight: 300;
}

.modal-content {
  position: relative;
  margin-left: 50px;
}

.modal-description {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 800px;
  background-color: var(--color-background);
  padding: 20px 30px;
  border: 1px solid var(--color-yellow);
  border-radius: 5px;
  box-shadow: 4px 4px 8px var(--color-shadow);
  font-size: 14px;
  color: var(--color-white);
  font-weight: 300;
}

.about {
  transition: transform 0.3s ease-in-out;
  align-self: center;
  padding-top: 8px;
}

.about:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.modal-description-content {
  position: relative;
  margin-left: 10px;
}

.close {
  margin-left: 10px;
  color: var(--color-yellow);
}
.close:hover {
  color: var(--color-red);
}

.btn-small {
  position: absolute;
  bottom: -30px;
  right: 1px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid var(--color-grey);
  background-color: var(--color-background);
  color: var(--color-white);
  border-radius: 5px;
}

.btn-small:hover {
  border: 1px solid var(--color-yellow);
  color: var(--color-yellow);
}

.close {
  position: absolute;
  top: -30px;
  right: 1px;
  font-size: 20px;
  cursor: pointer;
}

/* --------------------------------OPTION RESULTS----------------------------*/
.option-materials-inputs {
  display: flex;
}
.optionResults {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-values {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
}
.total-value-name {
  width: 80px;
}

.chart-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* --------------------SUMMARY-------------------- */

.container-summary {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.btn.print {
  align-self: flex-start;
  margin: 20px 0px 0px 20px;
}

.print {
  align-self: flex-end;
  margin-bottom: 20px;
}

.container-charts-all {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* height: 100vh; */
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.summary {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.chart-description {
  text-transform: uppercase;
  font-size: 22px;
  margin-top: -10px;
}

.chart-area {
  margin-top: -20px;
}

.left-offset {
  margin-left: 70px;
}

/* ------------------ TABLES -------------------*/
.tables {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
}

table thead th {
  text-align: center;
}

table th,
table td {
  border: 1px solid var(--color-grey);
  text-align: center;
  padding: 3px;
  width: 100px;
}

table th:first-child,
table td:first-child {
  width: 30px;
}

.th-description {
  width: 160px;
}

.img-table {
  width: 35px;
}

.danger {
  color: var(--color-red);
}

.info {
  color: #4f7942;
  font-weight: 400;
}
/* ---------------------LOGO----------------------- */

.logo {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 200;
}

.container.print.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  width: 25px;
  height: auto;
  align-self: flex-end;
}

/* -----------------PRINT PDF STYLE--------------- */
@media print {
  @page {
    size: 17in 11in;
    margin: 5%;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    transform: scale(0.9);
    transform-origin: top left;
  }
}

/* -----------------FOOTER--------------- */
.site-footer {
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 30px 20px;
  box-sizing: border-box;
  margin-bottom: 0;
}

.site-footer * {
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-logo {
  margin: 0px 7px;
  background-color: var(--color-footer-font);
}

.social-logo:hover {
  background-color: var(--color-red);
}

.instagram-logo {
  width: 20px;
}

.twitter-logo {
  width: 25px;
}

.linkedin-logo {
  width: 23px;
  margin: 0px 3px;
}

.container-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
}

.copyright,
.newsletter,
.terms a {
  font-size: 11px;
  font-weight: 200;
  line-height: 21px;
  font-family: "Roboto", sans-serif;
  color: var(--color-footer-font);
  text-decoration: none;
}
.terms a:first-child {
  margin-right: 10px;
}

.terms a:hover {
  text-decoration: underline;
}

.newsletter-link {
  margin-left: 15px;
  color: var(--color-footer-font);
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline var(--color-red);
  text-underline-offset: 4px;
}

.newsletter-link:hover {
  color: var(--color-red);
}

@media (max-width: 768px) {
  .site-footer {
    flex-direction: column;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .social-logo {
    margin: 3px;
  }
}
