.App {
  text-align: center;
}
body {
  margin: 0;
  background-color: #010101;
  color: white;
  font-family: "Roboto", sans-serif;
}

/* --------------------------------ALL - OPTIONS----------------------------*/
.wrapper {
  height: 100vh;
}
.container {
  padding: 0px 20px;
}

.container-description {
  display: flex;
  align-items: baseline;
}
.btn-all {
  display: flex;
  justify-content: space-between;
}
.btn-options {
  display: flex;
  flex: 1;
  width: 400px;
}

.btn {
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid #777764;
  background-color: #010101;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
}

.btn:last-child {
  margin-right: 0px;
}

.btn:hover {
  border: 1px solid #f9f82c;
  color: #f9f82c;
}

/* --------------------------------OPTIONS----------------------------*/
/* Active option highlighted */
.btn.active {
  border: 1px solid #f9f82c;
  color: #f9f82c;
}

/* .select-material {
  margin: 80px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.material-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 222px;
}

.material-image {
  position: absolute;
  width: 400px;
  height: 222px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1; */
/* } */

.select-material {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0px;
}

.material-button {
  position: relative;
  display: flex;
  align-items: center; /* This will vertically center the icon-text */
  justify-content: center; /* This will horizontally center the icon-text */
  width: calc((100% / 3) - 20px); /* Adjust for 3 items per row with margins */
  height: calc((100% / 3) - 20px); /* Initial height based on width */
  cursor: pointer;
  border: none;
  background: none;
  box-sizing: border-box;
  padding-top: calc(
    (100% / 16) - 20px
  ); /* This doubles the height relative to the width */
  padding-bottom: calc((100% / 16) - 20px);
}

.material-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Full height of the button */
  object-fit: cover;
  z-index: 1;
}

/* .material-image.active {
  border: 1px solid #f9f82c;
} */

.overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.593);
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px solid #f9f82c;
}

.overlay.active-bckg,
.overlay:hover {
  opacity: 1;
}

.material-image:hover {
  cursor: pointer;
  background: #010101;
  transition: 0.3s ease-in-out;
}

.icon-text {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-size: 28px;
  color: #fefefe;
  cursor: pointer;
  text-align: center;
  z-index: 3;
}

.icon-text.active-text {
  color: #f9f82c;
  z-index: 99;
}

.value-row {
  display: flex;
  align-items: center;
}

.menu-text-large {
  font-size: 18px;
  color: #f7f7f7;
  font-weight: 300;
  margin-right: 10px;
}

.menu-text-small {
  font-size: 13px;
}

.conv {
  margin-left: 5px;
  width: 50px;
}

.description-text {
  font-size: 18px;
  color: #f9f82c;
  font-weight: 300;
}

.value-name {
  width: 200px;
}

.value-value {
  width: 100px;
  margin-left: 20px;
}

input {
  width: 120px;
  font-size: 18px;
  padding: 5px;
  background-color: #010101;
  color: #f7f7f7;
  text-align: right;
  border: none;
  border-bottom: 2px solid #f9f82c;
}

/* For Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-hide {
  border-bottom: none;
}

.value-row-GWP {
  width: 80px;
  margin-left: 20px;
}

.value-row-description {
  display: flex;
  width: 800px;
  justify-content: flex-end;
  padding: 0px;
  margin-bottom: -25px;
}
.description-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
}

/* MODALS */

.modal {
  display: inline-block;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 200px;
  background-color: #010101;
  padding: 20px;
  border: 1px solid #f9f82c;
  border-radius: 5px;
  box-shadow: 0 4px 8px #777764be;
  font-size: 14px;
  color: #f9f82c;
  font-weight: 300;
}

.modal-content {
  position: relative;
  margin-left: 60px;
}

.modal-description {
  display: inline-block;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 300px;
  background-color: #010101;
  padding: 30px 10px 40px 10px;
  border: 1px solid #f9f82c;
  border-radius: 5px;
  box-shadow: 0 4px 8px #777764be;
  font-size: 14px;
  color: #f9f82c;
  font-weight: 300;
}

.modal-description-input {
  text-align: left;
  width: 250px;
  font-size: 16px;
}
.modal-description-content {
  position: relative;
  margin-left: 20px;
}

.btn-small {
  position: absolute;
  bottom: -30px;
  right: 1px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #777764;
  background-color: #010101;
  color: white;
  border-radius: 5px;
}

.btn-small:hover {
  border: 1px solid #f9f82c;
  color: #f9f82c;
}

.close {
  position: absolute;
  top: -30px;
  right: 1px;
  font-size: 20px;
  cursor: pointer;
}

/* --------------------------------OPTION RESULTS----------------------------*/
.optionResults {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-values {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
}
.total-value-name {
  width: 80px;
}

/* --------------------SUMMARY-------------------- */

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.summary-container {
  display: flex;
  flex-direction: column;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-description {
  text-transform: uppercase;
  text-decoration: underline;
}

/* -----------------PRINT PDF STYLE--------------- */
@media print {
  /* Add your print-specific styles here */
}
