.App {
  text-align: center;
}
body {
  margin: 0;
  background-color: #010101;
  color: white;
  font-family: "Roboto", sans-serif;
}

/* --------------------------------ALL - OPTIONS----------------------------*/
.container {
  padding: 0px 20px;
}
.btn-all {
  display: flex;
  justify-content: space-between;
}
.btn-options {
  display: flex;
  flex: 1;
  width: 400px;
}

.btn {
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid #777764;
  background-color: #010101;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
}

.btn:last-child {
  margin-right: 0px;
}

.btn:hover {
  border: 1px solid #f9f82c;
  color: #f9f82c;
}

/* --------------------------------OPTIONS----------------------------*/
/* Active option highlighted */
.btn.active {
  border: 1px solid #f9f82c;
  color: #f9f82c;
}

.select-material {
  margin: 80px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.material-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 222px;
}

.material-image {
  position: absolute;
  width: 400px;
  height: 222px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.material-image.active {
  border: 1px solid #f9f82c;
}

.overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay.active-bckg,
.overlay:hover {
  opacity: 1;
}

.material-image:hover {
  cursor: pointer;
  background: #010101;
  transition: 0.3s ease-in-out;
}

.icon-text {
  position: relative; /* Ensures text is on top of the overlay */
  z-index: 3;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-size: 28px;
  color: #fefefe;
  line-height: 32px;
  z-index: 99;
  cursor: pointer;
}

.icon-text.active-text {
  color: #f9f82c;
  z-index: 99;
}

.value-row {
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.menu-text-large {
  font-size: 14px;
  color: #f7f7f7;
  font-weight: 300;
  margin-right: 10px;
}

.description-text {
  font-size: 18px;
  color: #f9f82c;
  font-weight: 300;
}

.value-name {
  width: 200px;
}

.value-value {
  width: 100px;
  margin-left: 20px;
}

input {
  font-size: 12px;
  padding: 5px;
  background-color: #010101;
  color: #f7f7f7;
}

.value-row-GWP {
  width: 80px;
  margin-left: 20px;
}

.modal {
  display: inline-block;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 200px;
  background-color: #010101;
  padding: 20px;
  border: 1px solid #f9f82c;
  border-radius: 5px;
  box-shadow: 0 4px 8px #777764be;
  font-size: 14px;
  color: #f9f82c;
  font-weight: 300;
}

.modal-content {
  position: relative;
  margin-left: 60px;
}

.close {
  position: absolute;
  top: -30px;
  right: 1px;
  font-size: 20px;
  cursor: pointer;
}

/* --------------------------------OPTION RESULTS----------------------------*/
.optionResults {
  display: flex;
}
.total-values {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
}
.total-value-name {
  width: 80px;
}
.chart-container {
  height: 300px;
}
